@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --main-font: "League Spartan", Arial, sans-serif;
  --jbj-col: #fb0;
  --panel-col: #e5e5e5;
  --dark-col: #2f2f2f;
  --light-col: #f0f0f0;
  --plus-col: #599b60;
  --minus-col: #f8403a;
  --multiply-col: #4a89bf;
  --divide-col: #fc8537;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex-row {
  display: flex;
  gap: 5px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

.main-full {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.num-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  padding: 5px;
}
