@font-face {
  font-family: "League Spartan";
  src: url("../fonts/league-spartan.ttf");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --main-font: "League Spartan", Arial, sans-serif;
  --jbj-col: #fb0;
  --panel-col: #e5e5e5;
  --dark-col: #2f2f2f;
  --light-col: #f0f0f0;
  --plus-col: #599b60;
  --minus-col: #f8403a;
  --multiply-col: #4a89bf;
  --divide-col: #fc8537;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row {
  display: flex;
  gap: 5px;
  align-items: stretch;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.grow {
  flex-grow: 1;
}

.calculator {
  align-items: stretch;
  justify-content: center;
}

.panel {
  background-color: var(--panel-col);
  padding: 5px;
}

.display {
  box-sizing: content-box;
  background-color: var(--light-col);
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 5px;

  * {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .number {
    background-color: var(--jbj-col);
    color: var(--dark-col);
  }
}

.num-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  button {
    width: 75px;
  }
}

button {
  height: 50px;
  width: 50px;
  background-color: var(--dark-col);
  color: var(--light-col);
  border: 2px solid var(--dark-col);
  cursor: pointer;
  transition:
    transform 0.15s,
    box-shadow 0.15s;

  &:hover:not(:disabled) {
    transform: scale(0.96);
  }

  &:active:not(:disabled) {
    transform: scale(0.92);
  }

  &:disabled {
    background-color: var(--light-col);
    color: var(--panel-col);
    border: none;
    cursor: default;
  }
}

.plus {
  color: var(--dark-col);
  background-color: var(--plus-col);
}

.minus {
  color: var(--dark-col);
  background-color: var(--minus-col);
}

.multiply {
  color: var(--dark-col);
  background-color: var(--multiply-col);
}

.divide {
  color: var(--dark-col);
  background-color: var(--divide-col);
}

.equal {
  color: var(--dark-col);
  background-color: var(--jbj-col);
  height: 100%;
}
